*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f1ecea;
}
header{
    background:  #3a251c ;
    height: 15%;
    color: white;
}
nav ul li{
    display: inline-block;
    margin-left: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(70, 18, 18);
}
nav{
    max-width: 100%;
    height: 5%;
    background-color: #b46424;
}
.Cards {
    display: flex;
    justify-content: space-around;
}
.Card{
    width: 600px;
    height: 650px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 10px;
    border-color: black;
    background-color: rgb(255, 255, 255);
}
.Card2{
    width: 400px;
    height: 650px;
    display: inline-block;
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 10px;
    border-color: black;
    background-color: rgb(255, 255, 255);
}
.Card img{
    max-width: 20%;
    justify-content: end;
}
.Card2 img{
    max-width: 30%;
    margin-top: 10px;
}
.Card p{
    text-align: start;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
}
.pie{
    margin-top: 20px;
    background-color: #3a251c;
    width: 100%;
    height: 25px;
    text-align: center;
    color: #f1ecea;
    margin: 0.5em;
    padding: 5px;
}
 .pie h4{
    padding: 2px;
    color: rgb(247, 238, 238);
    font-size: 20px;
 }